page-about-ballr{
	h1{
		font-family: 'Baloo Bhaijaan', cursive;
		font-size: 50px;
		background-color: black;
		color: white;
		text-align: center;
	}
	div{
		text-align: center;
	}
	p{
		font-family: 'Baloo Bhaijaan',cursive;
		background-color: black;
		color: white;
		text-align: center;
	}
}