page-profile {

	h2{
		font-family: 'Baloo Bhaijaan', cursive;
	}
	img {
		text-align: center;
		height: 100%;
		width: 100%;
		margin: 0 25vw 0 25vw;
	}

	#avg {
		color: black;
	}

	div {
		text-align: center;
	}

	ion-card {
		font-family: 'Baloo Bhaijaan', cursive;
		color: black;
		text-align: left;
	}

	ion-slide { 
		width: 415px !important;
	}

	ion-card-content {
		text-align: center;
	}

	body {
		background-color: blue;
	}
}

