page- profile {
	h2{
	font-family: 'Baloo Bhaijaan', cursive;
	color: white;
}
img {
	text-align: center;
	height: 100%;
	width: 100%;
}

#avg {
	color: black;
}

div {
	text-align: center;
}

ion-card {
	font-family: 'Baloo Bhaijaan', cursive;
	color: black;
	text-align: left;
}

}